* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    /* Secondary */
    --Light-gray: hsl(0, 0%, 61%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--Light-grayish-blue);
    height: 100vh;
}

.wrap {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 85%;


    grid-template-areas:
        "comment1 comment1 comment2 comment5"
        "comment3 comment4 comment4 comment5"
    ;
    gap: 2vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: left;


}



.comment1 {

    grid-area: comment1;
    background-color: var(--Moderate-violet);

}

.head {
    display: flex;
    margin: 2.5vh 0 2vh 4vh;
    font-size: 2vh;
    color: var(--Light-grayish-blue);

}

svg {
    position: fixed;
    left: 30%;
    opacity: 50%;
}


img {
    width: 5vh;
    height: 5vh;
    margin-right: 2vh;
    border: 0.5px solid white;
    border-radius: 50%;
}

.pattern {
    position: absolute;
}

h1 {
    font-size: 2.7vh;
    margin: 0 0 3vh 4vh;
    width: 80%;
    line-height: 115%;
    font-weight: 500;
    color: var(--White);

}

.description {
    color: var(--Light-grayish-blue);
    opacity: 70%;
    line-height: 115%;
}

.comment3 h1 {
    width: 70%;
}

.description {
    width: 82%;
    margin: 0 2.5vh 3.5vh 4vh;
}

.id {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
}

.comment2 {
    grid-area: comment2;
    background-color: var(--Very-dark-grayish-blue);
}

.comment2 .description {
    width: 70%;
}

.comment3 {
    grid-area: comment3;
    background-color: var(--White);
}

.comment3 .head {
    color: var(--Light-gray);
}

.comment3 h1 {
    width: 65%;
    color: var(--Very-dark-grayish-blue);
}

.comment3 .description {
    color: var(--Light-gray);
    opacity: 70%;
    width: 75%;
    margin: 0 2.5vh 2vh 4vh;
}

.comment4 {
    grid-area: comment4;
    background-color: var(--Very-dark-blackish-blue);
}

.comment4 .description {
    margin: 0 2.5vh 2vh 4vh;
}

.comment5 {
    grid-area: comment5;
    background-color: var(--White);
}

.comment5 .head {
    color: var(--Light-gray);
}

.comment5 h1 {
    color: var(--Very-dark-grayish-blue);
}

.comment5 .description {
    width: 70%;
    color: var(--Light-gray);
    opacity: 70%;
    margin: 0 2.5vh 2vh 4vh;
}



/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */